.App {
  text-align: center;
  width: 100%; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

.AppHeader {
  background-color: #161616;
  background-image: url("images/appHeaderImage3.jpg");
  background-size: contain; 
  background-repeat: no-repeat;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 1px 1px #0f0f0f;
}

.AppHeader1 {
 width: 80%;
 padding-left: 10%; 
 padding-right: 10%; 
 background-image: url("images/outputBackground1.jpg"); 
 background-size: cover;
 background-repeat: no-repeat;  
 color: rgb(34, 34, 34);   
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: scale(0.75, 0.75);
  }
  to {
    transform: scale(0.8, 0.8);
  }
}

.App-input {
  width: 100%; 
  border: 2px solid #00ffff; 
  border-radius: 4px; 
}

.headerScripture{
  background-color: #505050;
  opacity: 0.7; 
  width: 50%; 
  border-radius: 15px;
}

